<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Skill level:</b>
  <%= @user.skill_level %>
</p>

<p>
  <b>Times played:</b>
  <%= @user.times_played %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
